* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kanit", sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: auto;
}

body {
    background-color: #F8EDF7;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

header, footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer {
    margin-top: auto;
}

.corner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0 0;
    justify-items: center;
    align-items: center;
}

.c1 {
    grid-template-areas:
    "bighl smallhl2"
    "smallhl1 . ";
}

.c2 {
    grid-template-areas:
    "smallhr2 bighr"
    ". smallhr1";
}

.c3 {
    grid-template-areas:
    "smallbl2 ."
    "bigbl smallbl1";
}

.c3 {
    grid-template-areas:
    "smallbl2 ."
    "bigbl smallbl1";
}

.c4 {
    grid-template-areas:
    ". smallbr2"
    "smallbr1 bigbr";
}

.bighl{
    grid-area: bighl;
}

.smallhl1{
    grid-area: smallhl1;
}

.smallhl2{
    grid-area: smallhl2;
}

.bighr{
    grid-area: bighr;
}

.smallhr1{
    grid-area: smallhr1;
}

.smallhr2{
    grid-area: smallhr2;
}

.bigbl{
    grid-area: bigbl;
}

.smallbl1{
    grid-area: smallbl1;
}

.smallbl2{
    grid-area: smallbl2;
}

.bigbr{
    grid-area: bigbr;
}

.smallbr1{
    grid-area: smallbr1;
}

.smallbr2{
    grid-area: smallbr2;
}

.big {
    height: 40px;
    width: 40px;
}

.small {
    height: 30px;
    width: 30px;
}

.square {
    margin: 5px;
    border-radius: 15%;
}

.pink {
    background-color: #EA65F0;
    box-shadow: inset -4px -4px 8px #c756cc,
    inset 4px 4px 8px #ff74ff;
}

.purple {
    background-color: #BC64EF;
    box-shadow: inset -4px -4px 8px #a055cb,
    inset 4px 4px 8px #d873ff;
}

.blue {
    background-color: #6568F0;
    box-shadow: inset -4px -4px 8px #5658cc,
    inset 4px 4px 8px #7478ff;
}

.red {
    background-color: #F065A6;
    box-shadow: inset -4px -4px 8px #cc568d,
    inset 4px 4px 8px #ff74bf;
}

.darkpurple {
    background-color: #8F65F0;
    box-shadow: inset -4px -4px 8px #7a56cc,
    inset 4px 4px 8px #a474ff;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 5vw;
    height: 100%;
}

h1 {
    font-style: normal;
    font-size: 8rem;
    font-weight: 300;
    margin-bottom: 7vh;
    color: #4E3C75;
}

h2 {
    font-style: normal;
    font-size: 5rem;
    font-weight: 300;
    margin-bottom: 3vh;
    color: #4E3C75;
    text-align: center;
    padding: 0 4vw;
    line-height: 1;
}

h3 {
    font-style: normal;
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 3vh;
    color: #4E3C75;
    text-align: center;
    padding: 0 1vw;
    width: 100%;
    line-height: 1;
}

p {
    color: #4E3C75;
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 3vh;
    padding: 0 4vw;
}

button {
    font-family: 'Kanit', sans-serif;
    font-size: 1.2rem;
    padding: 1rem;
    border: none;
    width: 100%;
    background-color: #6568F0;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-bottom-width 0.3s;
    box-sizing: border-box;
    box-shadow: inset -4px -4px 8px #5658cc,
    inset 4px 4px 8px #7478ff;
}

button:hover {
    box-shadow: inset -4px -4px 8px #6568F0,
    inset 4px 4px 8px #6568F0;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
}

#smsForm {
    width: 20vw;
}

input {
    font-family: 'Kanit', sans-serif;
    font-size: 1.2rem;
    padding: 1rem;
    border: 2px solid #6568F0;
    color: #6568F0;
    border-radius: 5px;
    width: 100%;
    border-bottom: 7px solid #6568F0;
    margin-bottom: 1rem;
}

.resend {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    margin-top: 3vh;
}

.resend_message {
    margin-bottom: 1vh;
    color: #F065A6;
    display: none;
}

.password-container {
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 290px;
}


.password-container input {
    font-family: 'Kanit', sans-serif;
    font-size: 1.2rem;
    padding: 1rem;
    border: 2px solid #6568F0;
    color: #6568F0;
    border-radius: 5px;
    width: 100%;
    border-bottom: 7px solid #6568F0;
    margin-bottom: 1rem;
    padding-right: 3rem; /* Ajoute de l’espace pour l’icône */
    max-width: 290px; /* Empêche un étirement excessif */
}

.toggle-password {
    position: absolute;
    right: 10px;

    transform: translateY(-7px);
    cursor: pointer;
    font-size: 1.2rem;
    color: #6568F0;
    user-select: none;
}

.error {
    margin-bottom: 0;
    font-size: 1rem;
    color: #F065A6;
    display: none;
    max-width: 70%; /* Empêche l'élargissement du conteneur */
    word-wrap: break-word; /* Force le retour à la ligne */
    text-align: center; /* Aligne le texte pour un meilleur rendu */
    white-space: normal; /* Permet le retour à la ligne */
    overflow-wrap: break-word;
    word-break: break-word;
    padding: 0;
}

br {
    display: block;
    margin: 0.5rem 0;
    content: " ";
}

.label {
    margin: 0;
    padding: 0;
    width: 120%;
}

.resend_phone_button {
    font-family: 'Kanit', sans-serif;
    font-size: 1.2rem;
    padding: 1rem;
    border: none;
    width: 60%;
    background-color: #BC64EF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-bottom-width 0.3s;
    box-sizing: border-box;
    box-shadow: inset -4px -4px 8px  #a055cb,
    inset 4px 4px 8px  #d873ff;
}

.resend_phone_button:hover {
    box-shadow: none;
}

.input_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
}


/* Responsiveness */

@media (max-width: 1200px) {
    h2 {
        font-size: 4.7rem;
    }

    h3 {
        font-size: 2.5rem;
    }

    button, input, p, .resend_phone_button {
        font-size: 1.1rem;
    }
}

@media (max-width: 900px) {
    h2 {
        font-size: 4.5rem;
    }

    h3 {
        font-size: 2.3rem;
    }
}

@media (max-width: 805px) {
    h1 {
        font-size: 6rem;
    }

    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 2rem;
    }

    button, input, p, .resend_phone_button{
        font-size: 1rem;
    }

    .error {
        font-size: 0.9rem;
    }

    form {
        width: auto;
    }
}

@media (max-width: 730px) {
    h2 {
        font-size: 3.5rem;
        line-height: 2.5rem;
    }

    h3 {
        font-size: 1.3rem;
        font-weight: 400;
    }
}




@media (max-width: 600px) {
    h1 {
        font-size: 5rem;
    }

    h2{
        margin-bottom: 1rem;
    }

    .resend {
        width: auto;
        margin-top: 1rem;
    }

    .resend_phone_button {
        width: auto;
    }

    button, input, .resend_phone_button {
        width: 90%;
    }

    input {
        margin-bottom: 0.5rem;
    }
}

@media (max-width: 480px) {
    h2 {
        font-size: 3rem;
    }

    button, input, p, .resend_phone_button{
        font-size: 0.9rem;
    }

    .error {
        font-size: 0.7rem;
    }

    button, input, .resend_phone_button {
        width: 90%;
    }
}
