{% extends "base_template.html" %}

{% block title %}Email Validé{% endblock %}

{% block main %}
    <h2>Change ton mot de passe</h2>
    <p>
        Une connexion suspecte ne venant pas de toi a été détectée 😬, nous te conseillons vivement de changer ton mot de passe
        <br/>
        Nous t'invitons à remplir les champs suivants&nbsp;:
    </p>

    <div class="input_form">
        <form id="passwordForm">
            <input type="hidden" id="userId" value="{{ user_id }}" >
            <p class="label">Ton pseudo</p>
            <div class="password-container">
                <input type="text" id="usernameInput">
            </div>
            <p class="label">Ton mot de passe actuel</p>
            <div class="password-container">
                <input type="password" id="passwordInput">
                <span class="toggle-password" id="toggleOldPassword" onclick="togglePasswordVisibility('passwordInput', this)">
                    <i class="fas fa-eye"></i>
                </span>
            </div>
            {% include "password_form.html" %}
        </form>
        <p class="error" id="error-message">Attention, tu n'a pas renseigné le code...</p>
    </div>
{% endblock %}

{% block scripts %}
    <script type="module" src="{{ url_for('static', filename='js/change_password.js') }}"></script>
{% endblock %}

