{% extends "base_email.html.j2" %}

{% block content %}
    <p class="title">Ton mot de passe a été changé</p>
    <p>Hello {{ username }}, <br/><br/>
        Nous confirmons que ton mot de passe a bie été modifié 🙌
    </p>

    <p>Si tu n'est pas à l'origine de cette action, nous te conseillons de bannir ton compte immédiatement en cliquant ici (tu pourra le réactiver en contactant directement le support):</p>

    <div class="buttondiv">
        <a href="{{  button_link }}" class="button">Bloquer mon compte</a>
    </div>


    <p>À bientôt sur Tempo !<br/>L’équipe Tempo 😊</p>
{% endblock %}
