{% extends "base_email.html.j2" %}

{% block content %}
    <p class="title">Confirme ton identité !</p>
    <p>Hello {{ username }}, <br/><br/>
        Suite à ta demand de mot de passe oublié, pour vérifier ton adresse email, nous te demandons de cliquer sur le bouton ci-dessous :
    </p>

    <div class="buttondiv">
        <a href="{{  buttonlink }}" class="button">Confirmer mon email</a>
    </div>

    <p>Si tu n'est pas à l'origine de cette demande nous te conseillons d'agir immédiatement.<p>

    <div class="buttondiv">
        <a href="{{  button_link_reset }}" class="button_secure">Sécuriser mon compte</a>
    </div>
    <br>

    <p>À bientôt sur Tempo !<br/>L’équipe Tempo 😊</p>
{% endblock %}
