{% extends "base_template.html" %}

{% block main %}
    <h2>Ton email est validé</h2>

    <p>
        {% block message %}
            Il ne reste plus qu’à valider ton numéro de téléphone.
        {% endblock %}
        <br/>
        Nous venons de t’envoyer un SMS avec un code, renseigne-le ici&nbsp;:
    </p>

    <div id="sign-in-button" style="display:none;"></div>

    <div class="input_form">
        <form id="smsForm">
            <input type="hidden" id="userId" value="{{ user_id }}">
            <input type="hidden" id="userPhone" value="{{ phone }}">
            <input type="hidden" id="token" value="{{ token }}">
            <input type="text" id="inputCode" maxlength="6">
            <button type="submit">Valider</button>
        </form>
        <p class="error" id="error-message">Attention, tu n'as pas renseigné le code...</p>
    </div>

    <div class="resend">
        <p class="resend_message">Tu n'as rien reçu sur ton téléphone ?</p>
        <button id="resend_button" class="resend_phone_button" type="submit">Me renvoyer un code</button>
    </div>
{% endblock %}

{% block scripts %}
    <script
            src="https://www.gstatic.com/firebasejs/9.23.0/firebase-app-compat.js"
            integrity="sha384-ajMUFBUFMCyjh8uxJg6bkGcKe9RTolyjwbxB3yES0QQMenP3Oztj/W9vA2SJPcIh"
            crossorigin="anonymous">
    </script>
    <script
            src="https://www.gstatic.com/firebasejs/9.23.0/firebase-auth-compat.js"
            integrity="sha384-xD1t9dGSVKobUztxDkv6xUI0H4AnFz0NxwlgDJJ7FDlblG9xxr1Z9iauCZuJYj6p"
            crossorigin="anonymous">
    </script>

    <script type="module">
        import { initializeApp } from "https://www.gstatic.com/firebasejs/9.23.0/firebase-app.js";
        import { getAuth, RecaptchaVerifier, signInWithPhoneNumber } from "https://www.gstatic.com/firebasejs/9.23.0/firebase-auth.js";

        const firebaseConfig = {{ firebase_config | tojson | safe }}
        const app = initializeApp(firebaseConfig);
        const auth = getAuth(app);

        window.onload = function () {
          const phoneNumber = document.getElementById("userPhone").value;
          const signInButton = document.getElementById("sign-in-button");

          window.recaptchaVerifier = new RecaptchaVerifier(signInButton, {
            size: "invisible",
            callback: (response) => {
              console.log("reCAPTCHA validé");
            },
          }, auth);

          const appVerifier = window.recaptchaVerifier;

          signInWithPhoneNumber(auth, phoneNumber, appVerifier)
            .then((confirmationResult) => {
              window.confirmationResult = confirmationResult;
            })
            .catch((error) => {
              console.error("Erreur envoi SMS:", error);
            });
        };
    </script>
{% endblock %}